node_modules/
dist/
.vscode/
.vscode-test/
test/
*.vsix
*.log
npm-debug.log
yarn-debug.log
yarn-error.log
coverage/
.DS_Store
.env
.vscode-test.mjs
.vscodeignore
.vsc-extension-quickstart.md
jsconfig.json
*.map
eslint.config.mjs 