.vscode/**
.github/**
.idea/**
.vscode-test/**
test/**
.git/**
.gitignore
.gitattributes
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
extension.js
src/**
esbuild.js
