.vscode/**
.github/**
.idea/**
.vscode-test/**
test/**
.git/**
.gitignore
.gitattributes
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
extension.js
src/**
esbuild.js
scripts/**
*.vsix
npm-debug.log*
node_modules/**
!node_modules/robotjs/index.js
!node_modules/robotjs/package.json
!node_modules/robotjs/LICENSE.md
!node_modules/robotjs/build/Release/robotjs.node
